sync/workflows/5N1MonhSmCmDqG0a.json
{"updatedAt":"2026-03-16T09:52:55.735Z","createdAt":"2026-03-13T11:26:09.571Z","id":"5N1MonhSmCmDqG0a","name":"02_Similarity search","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[352,-336],"id":"0268c073-15c9-4cef-b8a4-3123b7e8b33c","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"topics\": [\n    {\n      \"topic\": \"Решения проблем всасывания воздуха в топливо\",\n      \"queries\": [\n        \"причины попадания воздуха в топливную систему дизельного генератора\",\n        \"как устранить завоздушивание топливной системы генератора\",\n        \"поиск утечки воздуха в топливопроводе дизельного двигателя\"\n      ]\n    },\n    {\n      \"topic\": \"Преимущества системы болтов TorX\",\n      \"queries\": [\n        \"преимущества крепежных болтов TorX по сравнению с крестовыми\",\n        \"почему система болтов TorX обеспечивает лучший крутящий момент\",\n        \"плюсы использования крепежа TorX в промышленном оборудовании\"\n      ]\n    },\n    {\n      \"topic\": \"Сравнение информации о контроллерах GK600 и GK700\",\n      \"queries\": [\n        \"основные отличия контроллеров GK600 и GK700\",\n        \"сравнение функций контроллеров GK600 и GK700 для генераторов\",\n        \"характеристики и возможности контроллеров GK600 и GK700\"\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-336],"id":"97f21542-e786-4234-a2b3-e01641003374","name":"Add topics queries"},{"parameters":{"jsCode":"const topics = $json.topics;\n\nlet out = [];\n\nfor (const topic of topics) {\n  for (const query of topic.queries) {\n    out.push({\n      topic: topic.topic,\n      query: query\n    });\n  }\n}\n\nreturn out.map(i => ({ json: i }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-336],"id":"9c5c73d1-5db4-4c92-bc17-767bca42ab1b","name":"Data format topic-query"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-embedding-001"},{"name":"input","value":"={{ $json.query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,-336],"id":"6a1a389e-84c9-4ed1-bf6e-0ae748a42e2d","name":"Add embeddings for query Openrouter","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"t1hyLLrbge35ctke","name":"Header Auth Openrouter"}}},{"parameters":{"assignments":{"assignments":[{"id":"2fcf439d-6b4f-430c-8250-55abefad4379","name":"topic","value":"={{ $('Data format topic-query').item.json.topic }}","type":"string"},{"id":"74437a2f-edb3-4498-85ff-351e030413bc","name":"query","value":"={{ $('Data format topic-query').item.json.query }}","type":"string"},{"id":"fd4082b7-d77b-47f0-9c98-19e33ec4bd48","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-336],"id":"c10a7c13-eed0-4919-b0d2-479bfc2ddc19","name":"Query structure for similarity search"},{"parameters":{"resource":"search","operation":"queryPoints","collectionName":{"__rl":true,"value":"docs_v3","mode":"list","cachedResultName":"docs_v3"},"query":"={{ $json.vector.toJsonString() }}","scoreThreshold":0.7,"limit":5,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[1392,-336],"id":"1f18dd34-a067-4b51-aeb0-b75e29ad3146","name":"Similarity search - Top-5","credentials":{"qdrantRestApi":{"id":"DlczhDE6KfjUW0ja","name":"Qdrant account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ac5de137-33dd-4c0e-bbaa-e208ef9a5351","name":"topic","value":"={{ $('Query structure for similarity search').item.json.topic }}","type":"string"},{"id":"c0b5846b-f7a8-4473-bcc0-63cec329e90f","name":"query","value":"={{ $('Query structure for similarity search').item.json.query }}","type":"string"},{"id":"ea136295-90fc-4612-a2fa-cd5d663ad502","name":"relevant_points","value":"={{ $json.result.points }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,-336],"id":"80e2da2f-c8ab-4c44-bb90-910397ddb1dd","name":"Edit results"},{"parameters":{"content":"Флоу семантического поиска релевантных чанков в пользовательской базе знаний","color":4},"type":"n8n-nodes-base.stickyNote","position":[208,-432],"typeVersion":1,"id":"f5006cdb-87c2-4fee-882c-881212dd4105","name":"Sticky Note"},{"parameters":{"jsCode":"let out = [];\n\nfor (const item of items) {\n    // Берём массив relevant_points\n    const points = item.json.relevant_points;\n    \n    for (const p of points) {\n        out.push({\n            json: {\n                topic: item.json.topic,\n                query: item.json.query,\n                chunk_id: p.id,\n                score: p.score,\n                preview_text: p.payload.text.slice(0, 120) + \"...\", // первые 120 символов + \"...\"\n                source_file: p.payload.source_file\n            }\n        });\n    }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-336],"id":"29dfa2eb-82b4-480a-a7da-48855496b4a8","name":"Result format"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Add topics queries","type":"main","index":0}]]},"Add topics queries":{"main":[[{"node":"Data format topic-query","type":"main","index":0}]]},"Data format topic-query":{"main":[[{"node":"Add embeddings for query Openrouter","type":"main","index":0}]]},"Add embeddings for query Openrouter":{"main":[[{"node":"Query structure for similarity search","type":"main","index":0}]]},"Query structure for similarity search":{"main":[[{"node":"Similarity search - Top-5","type":"main","index":0}]]},"Similarity search - Top-5":{"main":[[{"node":"Edit results","type":"main","index":0}]]},"Edit results":{"main":[[{"node":"Result format","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc9fae21-8c28-4723-8439-e3887a5f665d","activeVersionId":null,"versionCounter":372,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-13T11:26:09.575Z","createdAt":"2026-03-13T11:26:09.575Z","role":"workflow:owner","workflowId":"5N1MonhSmCmDqG0a","projectId":"4QbJZeAMDJbKRis1","project":{"updatedAt":"2026-03-13T10:57:08.169Z","createdAt":"2026-03-13T10:49:58.596Z","id":"4QbJZeAMDJbKRis1","name":"Tatiana Zhukova <admin@555.pro>","type":"personal","icon":null,"description":null,"creatorId":"5b0e1315-0001-45e0-a41f-08f7f62a603e"}}],"versionMetadata":{"name":null,"description":null}}