sync/workflows/l5cB6tHJjuOLfVQr.json
{"updatedAt":"2026-03-16T10:00:53.347Z","createdAt":"2026-03-13T11:05:23.125Z","id":"l5cB6tHJjuOLfVQr","name":"01_RAG_add_files_to_Qdrant","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-48,-224],"id":"0978ccf7-3361-4d05-87ff-df8f36f32795","name":"Extract from PDF"},{"parameters":{"formTitle":"upload file","formFields":{"values":[{"fieldLabel":"data","fieldType":"file","acceptFileTypes":".pdf, .doc","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-256,-224],"id":"373d3fda-491c-41b4-852b-e0774167036b","name":"Upload_file","webhookId":"dd36a062-4de6-4b80-b94a-409cfabb468b"},{"parameters":{"jsCode":"{{\n  const text = $input.first().json.text;\nconst file = $input.first().json.info.Title || $('Upload_file').first().json.data[0].filename || \"unknown\";\n\nconst chunkSize = 500;\nconst overlap = 50;\n\nconst words = text.split(/\\s+/);\n\nlet chunks = [];\nlet i = 0;\nlet id = 1;\n\nwhile (i < words.length) {\n\n  const slice = words.slice(i, i + chunkSize).join(\" \");\n\n  chunks.push({\n    chunk_id: id,\n    source_file: file,\n    chunk_no: id,\n    text: slice,\n    chunk_type: \"text\"\n  });\n\n  i += chunkSize - overlap;\n  id++;\n}\n\nreturn chunks.map(c => ({json:c}));\n}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-224],"id":"a7283063-c7cb-4c5c-9da9-df13684454dd","name":"Text to chunks"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-224],"id":"89ea7d23-1323-4241-9603-54ecc163b06b","name":"Chunk data"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-embedding-001"},{"name":"input","value":"={{ $('Text to chunks').item.json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[592,-224],"id":"b764dc1b-8488-4888-ac40-fb54d41d79fd","name":"Add embeddings Openrouter","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"t1hyLLrbge35ctke","name":"Header Auth Openrouter"}}},{"parameters":{"assignments":{"assignments":[{"id":"2fcf439d-6b4f-430c-8250-55abefad4379","name":"id","value":"={{ $('Chunk data').item.json.chunk_id }}","type":"number"},{"id":"74437a2f-edb3-4498-85ff-351e030413bc","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"},{"id":"5f0e2ec2-d920-4b89-98a5-f34479e248b2","name":"payload","value":"={{\n{\n'source_file' : $('Chunk data').item.json.source_file,\n'chunk_no' : $('Chunk data').item.json.chunk_no,\n'chunk_type' : $('Chunk data').item.json.chunk_type,\n'text' : $('Chunk data').item.json.text\n}\n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-224],"id":"f67c608b-d8cd-48fc-9abf-e8971d744db8","name":"Point structure for Qdrant"},{"parameters":{"operation":"createCollection","collectionName":"docs_v4","vectors":"{\n   \"size\": 3072,\n   \"distance\": \"Cosine\"\n }\n","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-256,-528],"id":"fd26afdc-c593-40b3-9329-be5d4bb2d004","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"DlczhDE6KfjUW0ja","name":"Qdrant account"}}},{"parameters":{"content":"## Шаг 1: Создаем новую коллекцию в Qdrant","color":4},"type":"n8n-nodes-base.stickyNote","position":[-400,-624],"typeVersion":1,"id":"602414a8-78cc-40dc-ad5b-49240dfd5835","name":"Sticky Note"},{"parameters":{"content":"## Шаг 2: Добавляем документы в векторную базу Qdrant","color":4},"type":"n8n-nodes-base.stickyNote","position":[-400,-336],"typeVersion":1,"id":"f1013bf5-f783-4900-858c-4d3e97e90c62","name":"Sticky Note1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"points","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1008,-224],"id":"0f983147-2232-4b16-b51a-f4868151539a","name":"Aggregate"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"docs_v3","mode":"list","cachedResultName":"docs_v3"},"points":"={{ $json.points.toJsonString() }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[1216,-224],"id":"a379e1fd-8c65-4adb-b666-0e71aa9c571c","name":"Upsert Points","credentials":{"qdrantRestApi":{"id":"DlczhDE6KfjUW0ja","name":"Qdrant account"}}},{"parameters":{"operation":"getCollection","collectionName":{"__rl":true,"value":"docs_v2","mode":"list","cachedResultName":"docs_v2"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-256,80],"id":"80139363-1449-4577-8eab-e202856bfc10","name":"Get Collection","credentials":{"qdrantRestApi":{"id":"DlczhDE6KfjUW0ja","name":"Qdrant account"}}},{"parameters":{"content":"Проверка параметров коллекции","color":4},"type":"n8n-nodes-base.stickyNote","position":[-400,-16],"typeVersion":1,"id":"70f75dbc-e2e5-406f-a182-6a5f9417a0da","name":"Sticky Note2"}],"connections":{"Extract from PDF":{"main":[[{"node":"Text to chunks","type":"main","index":0}]]},"Upload_file":{"main":[[{"node":"Extract from PDF","type":"main","index":0}]]},"Text to chunks":{"main":[[{"node":"Chunk data","type":"main","index":0}]]},"Chunk data":{"main":[[{"node":"Add embeddings Openrouter","type":"main","index":0}]]},"Add embeddings Openrouter":{"main":[[{"node":"Point structure for Qdrant","type":"main","index":0}]]},"Point structure for Qdrant":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Upsert Points","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"34a855ca-4ebf-45d5-954a-87a3f3d0f618","activeVersionId":null,"versionCounter":882,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-13T11:05:23.128Z","createdAt":"2026-03-13T11:05:23.128Z","role":"workflow:owner","workflowId":"l5cB6tHJjuOLfVQr","projectId":"4QbJZeAMDJbKRis1","project":{"updatedAt":"2026-03-13T10:57:08.169Z","createdAt":"2026-03-13T10:49:58.596Z","id":"4QbJZeAMDJbKRis1","name":"Tatiana Zhukova <admin@555.pro>","type":"personal","icon":null,"description":null,"creatorId":"5b0e1315-0001-45e0-a41f-08f7f62a603e"}}],"versionMetadata":{"name":null,"description":null}}