sync/workflows/TD32gwyjteIiezWw.json
{"updatedAt":"2026-03-16T10:11:55.884Z","createdAt":"2026-03-15T15:45:05.535Z","id":"TD32gwyjteIiezWw","name":"03_RAG_AI_agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-320,48],"id":"ec8b8f39-5a93-4869-8d25-30a4c7cce422","name":"When chat message received","webhookId":"8a10a11c-0261-42d9-9ccb-32a29ffab528"},{"parameters":{"options":{"systemMessage":"Ты являешься интеллектуальным ассистентом, который пишет статьи на основе технической информации из источников knowledge database. \n\n## Твои задачи:\n1. На вход тебе подается тема статьи - Prompt (User Message).\n2.  Для каждой темы необходимо сформировать 3–6 под-вопросов (или аспектов), чтобы покрыть тему (например “причины → признаки → методы устранения”).\n3. На каждый под-вопрос извлечь top-3 чанков из Qdrant, используя 'Qdrant Vector Store_tool'.\n4. Собрать финальный контекст (дедуплицировать, ограничить объем).\n5. Сгенерировать итоговую статью.\n6. Приложить sources: список file_name.\n\n! Требование к генерации: техническая информация на основе источников knowledge database - использовать 'Qdrant Vector Store_tool'. Если в найденном контексте нет подтверждения факту, это не должно появляться в тексте.\n! Если по теме в собранных чанках или документации в целом недостаточно данных, это должно быть явно указано (“В документации недостаточно сведений по теме …”), без генерации неподтверждённых деталей. Если есть частичная информация - указать. \n\n\n ","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-64,640],"id":"e0a24e4c-aecc-49a4-930a-0889cba44a10","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,896],"id":"1526e6f5-f5f1-4b1e-8d02-1bb78eb4861d","name":"Simple Memory"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[208,1072],"id":"f8328d6f-578e-4776-adc2-d30b407dcf34","name":"Embeddings Ollama"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use this tool to fetch knowledge from the database","qdrantCollection":{"__rl":true,"value":"docs_v3","mode":"list","cachedResultName":"docs_v3"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[208,880],"id":"4d5c1a44-fd5a-4e47-9e39-687ab896a2e7","name":"Qdrant Vector Store_tool","credentials":{"qdrantApi":{"id":"DmIUndrzpUaPxsFw","name":"QdrantApi account"}}},{"parameters":{"content":"Альтернативное решение с использованием Embeddings Ollama.","color":4},"type":"n8n-nodes-base.stickyNote","position":[-144,576],"typeVersion":1,"id":"0f2bc67e-f96d-4f4c-9fc7-c94003dec524","name":"Sticky Note1"},{"parameters":{"model":"google/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-128,896],"id":"b4975b40-3ad5-4b0e-86ac-9e753cd7e5ed","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"RcQnz3NH2Czg86tb","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-144,288],"id":"a0e1ec35-e6fd-475c-94b3-8ddbde76179f","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"RcQnz3NH2Czg86tb","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-embedding-001"},{"name":"input","value":"={{ $json.query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,48],"id":"9f64bcd9-8d10-4686-9fbb-ec8f6acac260","name":"Add embeddings for query Openrouter","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"t1hyLLrbge35ctke","name":"Header Auth Openrouter"}}},{"parameters":{"assignments":{"assignments":[{"id":"2fcf439d-6b4f-430c-8250-55abefad4379","name":"topic","value":"={{ $('Data format topic-query').item.json.topic }}","type":"string"},{"id":"74437a2f-edb3-4498-85ff-351e030413bc","name":"query","value":"={{ $('Data format topic-query').item.json.query }}","type":"string"},{"id":"fd4082b7-d77b-47f0-9c98-19e33ec4bd48","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,48],"id":"65b7aa80-d523-44f4-82db-07fdb92a3bf0","name":"Query structure for similarity search"},{"parameters":{"resource":"search","operation":"queryPoints","collectionName":{"__rl":true,"value":"docs_v3","mode":"list","cachedResultName":"docs_v3"},"query":"={{ $json.vector.toJsonString() }}","scoreThreshold":0.7,"limit":5,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[864,48],"id":"68004b86-68e8-4506-8187-0f4761410dff","name":"Similarity search - Top-5","credentials":{"qdrantRestApi":{"id":"DlczhDE6KfjUW0ja","name":"Qdrant account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ac5de137-33dd-4c0e-bbaa-e208ef9a5351","name":"topic","value":"={{ $('Query structure for similarity search').item.json.topic }}","type":"string"},{"id":"c0b5846b-f7a8-4473-bcc0-63cec329e90f","name":"query","value":"={{ $('Query structure for similarity search').item.json.query }}","type":"string"},{"id":"ea136295-90fc-4612-a2fa-cd5d663ad502","name":"relevant_points","value":"={{ $json.result.points }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,48],"id":"6b306b55-7f77-46a8-93db-bbb908f727f6","name":"Edit results"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"topic\": {\n            \"type\": \"string\"\n          },\n          \"queries\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[64,288],"id":"00d6b5f3-dc60-4676-a87c-caf55e548422","name":"Structured Output Parser"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"Ты являешься интеллектуальным ассистентом, который пишет статьи на основе технической информации из источников knowledge database. \n\n## Твои задачи:\n1. На вход тебе подается тема статьи - Prompt (User Message).\n2.  Для темы необходимо сформировать 3 под-вопроса (или аспекта), чтобы покрыть тему (например “причины → признаки → методы устранения”).\n3. Результат выведи используя Output Parser","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,48],"id":"04d5981d-df03-48b9-85f2-0581889fc7bc","name":"AI Agent_add sub topics"},{"parameters":{"jsCode":"const topics = $input.first().json.output.topics;\n\nlet out = [];\n\nfor (const topic of topics) {\n  for (const query of topic.queries) {\n    out.push({\n      topic: topic.topic,\n      query: query\n    });\n  }\n}\n\nreturn out.map(i => ({ json: i }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,48],"id":"4c0a32ac-f783-426b-b306-b62eacd67f5a","name":"Data format topic-query"},{"parameters":{"promptType":"define","text":"={{ $json }}","options":{"systemMessage":"Ты являешься интеллектуальным ассистентом, который пишет статьи на основе технической информации из источников knowledge database. \n\n## Твои задачи:\n1. На вход тебе подается следующая информация:\n- topic - наименование статьи - тема,\n- query - под-вопросы (или аспекты), чтобы покрыть тему (например “причины → признаки → методы устранения”),\n- source_file - источники информации из knowledge database,\n- chunk_id - id чанков с релевантной информацией\n- preview_text - текст из knowledge database с релевантной информацией для написания статьи и проверки технических фактов.\n2. На основе входящей информации необходимо сгенерировать итоговую статью.\n3. К статье приложить sources: список используемых source_file, список чанков - chunk_id.\n\n! Требование к генерации: техническая информация на основе источников knowledge database - использовать входящую информацию. Если в найденном контексте нет подтверждения факту, это не должно появляться в тексте.\n! Если по теме в собранных чанках или документации в целом недостаточно данных, это должно быть явно указано (“В документации недостаточно сведений по теме …”), без генерации не подтверждённых деталей. Если есть частичная информация - указать. \n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1904,48],"id":"c1d70af9-dcfe-4fa4-90c9-f4d18eb4c632","name":"AI Agent write content"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"context","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1696,48],"id":"3f50c33e-41fc-45e7-b972-58ff3e13d060","name":"Aggregate"},{"parameters":{"model":"google/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1904,272],"id":"4735da82-d770-4742-9fff-c92cb82cc08c","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"RcQnz3NH2Czg86tb","name":"OpenRouter account"}}},{"parameters":{"jsCode":"let out = [];\n\nfor (const item of items) {\n    // Берём массив relevant_points\n    const points = item.json.relevant_points;\n    \n    for (const p of points) {\n        out.push({\n            json: {\n                topic: item.json.topic,\n                query: item.json.query,\n                chunk_id: p.id,\n                score: p.score,\n                preview_text: p.payload.text,\n                source_file: p.payload.source_file\n            }\n        });\n    }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,48],"id":"cc81d2a2-718d-444b-b593-37d9fbb591e9","name":"Result format"},{"parameters":{"jsCode":"// Вход: items — массив объектов, как у тебя\nconst aggregated = {};\n\n// Проходим по всем входным items\nfor (const item of items) {\n    const { topic, query, chunk_id, preview_text, source_file } = item.json;\n\n    // Формируем ключ по topic + query\n    const key = `${topic}||${query}`;\n\n    if (!aggregated[key]) {\n        aggregated[key] = {\n            topic,\n            query,\n            chunk_id: new Set(),\n            preview_text: new Set(),\n            source_file: new Set()\n        };\n    }\n\n    aggregated[key].chunk_id.add(chunk_id);\n    aggregated[key].preview_text.add(preview_text);\n    aggregated[key].source_file.add(source_file);\n}\n\n// Преобразуем Set в массивы и формируем результат для n8n\nconst output = Object.values(aggregated).map(entry => ({\n    json: {\n        topic: entry.topic,\n        query: entry.query,\n        chunk_id: Array.from(entry.chunk_id),\n        preview_text: Array.from(entry.preview_text),\n        source_file: Array.from(entry.source_file)\n    }\n}));\n\nreturn output;;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,48],"id":"dbf4e580-1881-4de3-b47b-fb7ead0ed8a7","name":"Agg data"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent_add sub topics","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store_tool","type":"ai_embedding","index":0}]]},"Qdrant Vector Store_tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent_add sub topics","type":"ai_languageModel","index":0}]]},"Add embeddings for query Openrouter":{"main":[[{"node":"Query structure for similarity search","type":"main","index":0}]]},"Query structure for similarity search":{"main":[[{"node":"Similarity search - Top-5","type":"main","index":0}]]},"Similarity search - Top-5":{"main":[[{"node":"Edit results","type":"main","index":0}]]},"Edit results":{"main":[[{"node":"Result format","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent_add sub topics","type":"ai_outputParser","index":0}]]},"AI Agent_add sub topics":{"main":[[{"node":"Data format topic-query","type":"main","index":0}]]},"Data format topic-query":{"main":[[{"node":"Add embeddings for query Openrouter","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent write content","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent write content","type":"ai_languageModel","index":0}]]},"Result format":{"main":[[{"node":"Agg data","type":"main","index":0}]]},"Agg data":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"44f74314-7637-4703-9f8a-80765215da01","activeVersionId":null,"versionCounter":415,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T15:45:05.538Z","createdAt":"2026-03-15T15:45:05.538Z","role":"workflow:owner","workflowId":"TD32gwyjteIiezWw","projectId":"4QbJZeAMDJbKRis1","project":{"updatedAt":"2026-03-13T10:57:08.169Z","createdAt":"2026-03-13T10:49:58.596Z","id":"4QbJZeAMDJbKRis1","name":"Tatiana Zhukova <admin@555.pro>","type":"personal","icon":null,"description":null,"creatorId":"5b0e1315-0001-45e0-a41f-08f7f62a603e"}}],"versionMetadata":{"name":null,"description":null}}